
<link href="/public/css/register.css" rel="stylesheet" type="text/css"/>

<div class="aw-register-box">
    <div class="mod-head">
        <div><strong>{{msg}}<a href="{{href}}">{{info}}</a></strong></div>
    </div>

    <div class="mod-footer"></div>
</div>


